/examples/.vs
/examples/dynamic/dll_dx11_win32/obj
/examples/desktop/win32_directx11/bin
/examples/desktop/win32_directx11/obj
/examples/dynamic/dll_dx11_win32/bin
/.codegraph
/tests/bin
/tests/obj
/*.obj
examples/desktop/win32_directx11/SodiumGUI_Performance.txt
